asgiref==3.8.1
Django==5.0.7
django-admin-inline-paginator==0.4.0
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
Faker==26.0.0
inflection==0.5.1
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
PyJWT==2.8.0
pytest==8.2.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.1
setuptools==70.3.0
six==1.16.0
sqlparse==0.5.0
uritemplate==4.1.1
